
/* settings */
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Ubuntu';
}

/* -------- */
/* page css */
/* -------- */

